{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- content nav start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
        <div class="d-flex align-items-center">
            <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
            <h2 class="fs-2 m-0">Patient Details</h2>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user me-2"></i>John Doe
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
<!-- content nav end -->


<div class="container-fluid p-3">

    <div class="card">
        <div class="card-header d-flex align-items-center">
          Request Details
          <a href="{% url 'lab_management:update-request' pk=object.id %}" class="btn btn-sm btn-success ms-auto"><i class="bi bi-pencil-fill me-2"></i>Edit</a>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sample ID</th>
                        <th scope="col">Test</th>
                        <th scope="col">Recorded</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody class='text-uppercase'>
                        <tr>
                            <th scope="row">{{ object.id }}</th>
                            <th>{{ object.sample.sample_id }}</th>
                            <td>{{ object.test }}</td>
                            <td>{{ object.sample.date_of_collection }}</td>
                            <td>{{ object.processing_status }}</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header">
          Patient
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{ object.patient.surname }} {{ object.patient.given_name }}</p>
            <footer class="blockquote-footer">{{ object.patient.gender }} | {{ object.patient.age }} | {{ object.patient.nationality }}</footer>
          </blockquote>
        </div>
    </div>

</div>


{% endblock %}









<h1>Request detail views and url work well</h1>

<h1><strong>Request Details</strong> </h1>
<p><strong>Patient Name        :</strong>   {{ object.patient }}</p>
<p><strong>Test                :</strong>   {{ object.test }}</p>
<p><strong>Sample              :</strong>   {{ object.sample }}</p>
<p><strong>Status              :</strong>   {{ object.proccessing_status }}</p>

