{% block patient %}

    <h1><strong>Patient Details</strong> </h1>
    <p><strong>Surname          :</strong>   {{ object.surname }}</p>
    <p><strong>Given Name       :</strong>   {{ object.given_name }}</p>
    <p><strong>Age              :</strong>   {{ object.age }}</p>
    <p><strong>Contact          :</strong>   {{ object.contact }}</p>
    <p><strong>Gender           :</strong>   {{ object.gender }}</p>
    <p><strong>Address          :</strong>   {{ object.address }}</p>
    <p><strong>Identification   :</strong>   {{ object.identification }}</p>
    <p><strong>Nationality      :</strong>   {{ object.nationality }}</p>

{% endblock  %}

